body {
    font-family: Sans-serif;
    margin: 0;
    padding: 0;
}

#no-connection {
    text-align: center !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 99999 !important;
    background-color: #FFFFFF !important;
}

#no-connection p {
    margin: 3px auto;
}
